<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--unity配置文件-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration" />
  </configSections>

  <unity>
    <!--实现AOP需要用到-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="IQueryContainer">
        <!--实现AOP需要用到-->
        <extension type="Interception"/>
        <!--<register type="抽象类,抽象类的命名空间" mapTo="继承这个抽象类的实现类,实现类的命名空间"/>-->
        <!--<register type="ioc.IInterFace.IStudent,ioc.IInterFace" mapTo="ioc.IService.SimpleStudent,ioc.IService"/>-->
        <!--<register type="ioc.IInterFace.IUser,ioc.IInterFace" mapTo="ioc.IService.SimpleUser,ioc.IService"/>-->
        <register type="MyInterfaces.IUserInfo,MyInterfaces" mapTo="MyServices.UserInfoService,MyServices">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="Tdms.Utils.Aop.LogAfterBehavior, Tdms"/>
        </register>
      </container>
    </containers>
  </unity>
  

</configuration>